
.category-search-form-wrapper{
  margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
  }

  .search-button {
    background-color: #b71c1c;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #9a1717;
  }

  .form-select {
    margin-top: 0.5rem;
  }
  
  .form-select option[disabled] {
    color: #999; /* Placeholder color */
  }
  .form-select option:not([disabled]) {
    color: #000; /* Regular option color */
  }

  
  .form-select {
    color: #555; /* Default color for options */
  }
  
  .form-select option[value=""] {
    color: #999; /* Placeholder color */
  }
  
  