<div class="container px-3 my-5 clearfix">
  <!-- Shopping cart table -->
  <div class="card">
    <div class="card-header">
      <h2>Shopping Cart ({{ cartItems.length }} ITEMS)</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
            <tr class="table-header">
              <th class="text-center py-3 px-4" style="width: 300px; height: 100px;">Product Name &amp; Details</th>
              <th class="text-center py-3 px-4" style="width: 120px;">Price</th>
              <th class="text-center py-3 px-4" style="width: 100px;">Quantity</th>
              <th class="text-center py-3 px-4" style="width: 120px;">Subtotal</th>
              <th class="text-center py-3 px-4" style="width: 140px;">Discounted Subtotal</th>
              <th class="text-center align-middle py-3 px-0" style="width: 40px;">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td class="p-4" style="height: 100px;">
                <div class="media align-items-center">
                  <img *ngIf="!item.imageError" [src]="'https://usaperp.com:5001/Images/Products/' + item.image"
                    class="d-block ui-w-40 ui-bordered mr-4" alt="Product Image" (error)="handleImageError(item)">
                  <div class="media-body">
                    <a href="#" class="d-block text-dark">{{ item.name }}</a>
                  </div>
                </div>
                <!-- <div class="upc"> 
                  <span>UPC: {{ item.upc }}</span>
                </div> -->
              </td>
              <td class="text-center font-weight-semibold align-middle p-4">${{ item.price.toFixed(2) }}</td>
              <td class="text-center align-middle p-4">
                <input type="number" class="form-control text-center" [(ngModel)]="item.quantity"
                  (change)="onQuantityInput(item.productId, $event)" min="1" />
              </td>
              <td class="text-center font-weight-semibold align-middle p-4">${{ (item.price * item.quantity).toFixed(2)
                }}</td>
              <td class="text-center font-weight-semibold align-middle p-4">
                <span *ngIf="item.discountedPrice && item.discountedPrice < item.price * item.quantity">
                  ${{ item.discountedPrice.toFixed(2) }}
                </span>
              </td>
              <td class="text-center align-middle px-0">
                <button class="remove-btn text-danger" (click)="removeFromCart(item.cartId)">×</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-between align-items-center pb-4 subtotal-container">
        <label class="text-muted font-weight-normal m-0">Subtotal</label>
        <div class="text-large"><strong>${{ calculateSubtotal().toFixed(2) }}</strong></div>
      </div>


      <!-- Billing Information Section -->
      <div class="billing-information">
        <h3>Billing Information</h3>
        <form (submit)="goToCheckout()">
          <div class="form-group">
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" [(ngModel)]="billing.fullName" name="fullName" required>
          </div>
          <!-- Email & Contact in one row -->
          <div class="form-group-row">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" [(ngModel)]="billing.email" name="email" required>
            </div>
            <div class="form-group">
              <label for="contact">Contact:</label>
              <input type="text" id="contact" [(ngModel)]="billing.contact" name="contact" required>
            </div>
          </div>
          <div class="form-group">
            <label for="billingAddress">Billing Address:</label>
            <textarea id="billingAddress" [(ngModel)]="billing.billingAddress" name="billingAddress" required
              (paste)="handleAddressPaste($event)"></textarea>
          </div>

          <!-- Country & State in one row -->
          <div class="form-group-row">
            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" id="city" [(ngModel)]="billing.city" name="city" required>
            </div>
            <div class="form-group">
              <label for="state">State:</label>
              <input type="text" id="state" [(ngModel)]="billing.state" name="state" required>
            </div>
          </div>

          <!-- City & Zipcode in one row -->
          <div class="form-group-row">
            <div class="form-group">
              <label for="zipcode">Zipcode:</label>
              <input type="text" id="zipcode" [(ngModel)]="billing.zipcode" name="zipcode" required>
            </div>
            <div class="form-group">
              <label for="country">Country:</label>
              <input type="text" id="country" [(ngModel)]="billing.country" name="country" readonly>
            </div>
          </div>

          <button type="submit" class="checkout">CHECKOUT</button>
        </form>
      </div>

    </div>
  </div>
</div>