<app-navbar></app-navbar>

<div class="container">
  <!-- Left Sidebar -->
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <app-filter *ngIf="!isCollapsed"></app-filter>
  </div>

  <button class="toggle-btn" (click)="toggleSidebar()">
    <span class="toggle-icon">{{ isCollapsed ? '→' : '←' }}</span>
  </button>

      <!-- General Search Component -->
      <div class="general-search" [class.expanded-left]="isCollapsed" [class.expanded-right]="isCartCollapsed">
        <app-category-results></app-category-results>
      </div>

      <!-- Right Sidebar (Cart Sidebar) -->
      <div class="sidebar-cart" [class.collapsed]="isCartCollapsed" *ngIf="!isCartCollapsed">
        <button class="cancel-btn" (click)="collapseCartSidebar()" aria-label="Close Cart">
          &times; <!-- "×" Close Icon -->
        </button>
        <app-cart-sidebar></app-cart-sidebar>
      </div>
</div>