<div class="dashboard-container">
  <app-admin-sidebar (componentSelected)="selectComponent($event)"></app-admin-sidebar>
  <div class="main-content">
    <div *ngIf="showDefaultView()" class="content-area">
      <app-merchant-profile></app-merchant-profile>
      <app-order-summary></app-order-summary>
    </div>
    <div *ngIf="showDefaultView()" class="below-content">
      <app-business-requests></app-business-requests>
    </div>

    <div *ngIf="selectedComponent === 'customers'" class="click">
      <app-customers></app-customers>
    </div>
    <div *ngIf="selectedComponent === 'merchants'" class="click">
      <app-merchants></app-merchants>
    </div>
    <div *ngIf="selectedComponent === 'pending-orders'" class="click">
      <app-pending-orders></app-pending-orders>
    </div>
    <div *ngIf="selectedComponent === 'shipped-orders'" class="click">
      <app-shipped-orders></app-shipped-orders>
    </div>
  </div>
</div>
