<div class="task-list">
  <h2>Shipped Orders</h2>
  @if (isLoading) {
    <div>Loading...</div>
  }
  @if (error) {
    <div>{{ error }}</div>
  }
  @if (!isLoading && !error && shippedOrders.length > 0) {
    <table>
      <thead>
        <tr>
          <th>Order Date</th>
          <th>Total Amount</th>
          <th>Total Quantity</th>
          <th>Transaction ID</th>
          <th>Customer</th>
          <th>Order Status</th>
          <th>Order Tracking</th>
        </tr>
      </thead>
      <tbody>
        @for (order of shippedOrders; track order) {
          <tr>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.totalAmount }}</td>
            <td>{{ order.totalQuantity }}</td>
            <td>{{ order.transactionId }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.orderStatus }}</td>
            <td>{{ order.orderTracking }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
  @if (!isLoading && !error && shippedOrders.length === 0) {
    <div>No shipped orders found.</div>
  }
</div>



<!-- <div class="task-list">
<h2>Shipped Orders</h2>
<table>

</table>
</div> -->