<div class="dashboard-container">
  <!-- back-button.component.html -->
<button class="back-button" (click)="onBackClick()"><i class="fa fa-arrow-left back-button" aria-hidden="true"></i></button>
  <button class="sidebar-toggle" (click)="toggleSidebar()">☰</button>

  <app-business-sidebar
    (componentSelected)="selectComponent($event)"
    [isOpen]="sidebarOpen"
    [class.open]="sidebarOpen"
    [class.blurred]="showVehicleForm"
  ></app-business-sidebar>

  <!-- <app-business-sidebar (componentSelected)="selectComponent($event)"  [class.blurred]="showVehicleForm"></app-business-sidebar> -->
  <div class="main-content" [class.blurred]="sidebarOpen && isSmallScreen">
    <div *ngIf="showDefaultView()" class="content-area">
      <app-merchant-profile></app-merchant-profile>
      <app-orders-to-receive></app-orders-to-receive>
      <!-- <app-orders-to-ship></app-orders-to-ship> -->
    </div>
    <div *ngIf="selectedComponent === 'orders-to-receive'" class="below-content">
      <app-orders-to-receive></app-orders-to-receive>
    </div>
    <div *ngIf="selectedComponent === 'orders-to-ship'" class="below-content">
      <app-orders-to-ship></app-orders-to-ship>
    </div>
    <div *ngIf="selectedComponent === 'profile'" class="below-content">
      <app-merchant-profile></app-merchant-profile>
    </div>

    <div *ngIf="selectedComponent === 'track-order'" class="below-content">
      <app-track-order></app-track-order>
    </div>
    <div *ngIf="selectedComponent === 'purchase-history'" class="below-content">
      <app-purchase-history></app-purchase-history>
    </div>
    <div *ngIf="selectedComponent === 'my-garage'" class="below-content">
      <app-my-garage (formVisibilityChanged)="updateFormVisibility($event)"></app-my-garage>
    </div>
  </div>
</div>