<footer class="site-footer">
  <div class="footer-top container-fluid">
    <div class="row">
      <!-- Column 1: Logo/socials (modified to be full-width on xs) -->
<!-- -      <div class="col-md-3 col-sm-6 col-6"> -->
      <div class="col-md-3 col-sm-6 col-12">
        <h2 class="footer-logo">US Auto Parts</h2>
        <p>Millions of Parts. One Click Away.</p>
        <hr>
        <div class="social-links">
          <a href="https://www.facebook.com/people/Us-Auto-Parts-Experts-LLC/100042407204923/" aria-label="Facebook">
            <img src="\assets\facebook.png" alt="Facebook">
          </a>
          <a href="#" aria-label="Instagram">
            <img src="\assets\instagram.png" alt="Instagram">
          </a>
          <a href="#" aria-label="LinkedIn">
            <img src="\assets\linkedin.png" alt="LinkedIn">
          </a>
        </div>
      </div>

      <!-- Column 2: Platform -->
      <div class="col-md-2 col-sm-6 col-6">
        <h3>Platform</h3>
        <ul>
          <li><a href="#">Why usautopartsexperts.com</a></li>
          <li><a href="#">Product features</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">RFQ</a></li>
          <li><a href="#">Storefront</a></li>
          <li><a href="#">KWA</a></li>
          <li><a href="#">Keywords trends</a></li>
          <li><a href="#">Product showcase</a></li>
        </ul>
      </div>

      <!-- Column 3: Solutions -->
      <div class="col-md-2 col-sm-6 col-6">
        <h3>Solutions</h3>
        <ul>
          <li><a href="#">B2B ecommerce</a></li>
          <li><a href="#">Wholesale ecommerce</a></li>
          <li><a href="#">International trade</a></li>
        </ul>
      </div>

      <!-- Column 4: Pricing -->
      <div class="col-md-2 col-sm-6 col-6">
        <h3>Pricing</h3>
        <ul>
          <li><a href="#">Success stories</a></li>
        </ul>
      </div>

      <!-- Column 5: Resources -->
      <div class="col-md-3 col-sm-6 col-6">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">Business blogs</a></li>
          <li><a href="#">Webinars</a></li>
          <li><a href="#">Industry reports</a></li>
          <li><a href="#">Playbooks</a></li>
          <li><a href="#">Learning center</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom text-center">
    <p>© 1999-2024 usautopartsexperts.com. All rights reserved.</p>
    <p>
      Product Listing Policy – Intellectual Property Protection –
      <span
        class="link"
        (click)="navigateToPrivacyPolicy()"
        (mouseover)="underline = true"
        (mouseleave)="underline = false"
        [style.textDecoration]="underline ? 'underline' : 'none'">
        Privacy Policy
      </span>
      – Terms of Use
    </p>
  </div>
</footer>
