/* Flexbox layout for sidebar and content */
.page-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  width: 100%;
  overflow-x: hidden;
  /* padding: 20px; */
  background-color: #f9f9f9;
}

/* .sidebar-arrangement{
  position: sticky;
} */

/* Sidebar styles */
.sidebar {
  width: 250px; /* Set the width for the sidebar */
  height: 100%;
  transform: translateX(0);
  transition: transform 0.5s ease;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar.collapsed {
  transform: translateX(-250px); /* Collapse the sidebar */
}

.toggle-btn {
  position: absolute;
  top: 65%;
  left: 250px;
  background-color: #b71c1c;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 10;
  transition: left 0.5s ease;
}

.sidebar.collapsed + .toggle-btn {
  left: 0;
}

  /* Content container */
  .main-content {
    flex-grow: 1; /* Take up remaining space for content */
    padding: 20px;
  }
  
  /* Product List */
  .product-list {
    width: 100%;
  }

/* Product Card Styles */
.product-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 220px;
  margin-bottom: 15px;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Product Image */
.product-image img {
  margin-top: 30px;
  max-width: 190px;
  max-height: 190px;
  object-fit: contain;
}

/* Product Info */
.product-info {
  flex-grow: 2;
  margin-left: 20px;
  margin-top: 20px;
}

.product-name {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.label {
  color: black; /* Black color for the labels */
  font-weight: 600; /* Bold style for the labels */
}

.product-part-number, .product-warning, .product-interchange {
  font-size: 16px;
  color: #666;
  font-weight: 500;
  margin-bottom: 5px;
}

.product-warning {
  color: #f39c12;
}

/* Price and Delivery Info */
.product-price-info {
  text-align: right;
  margin-left: 20px;
}

.product-price {
  font-size: 22px;
  color: #b71c1c;
  margin-bottom: 10px;
}

.login-overlay{
  color: #b71c1c;
  font-weight: 700;
  margin-right: 40px;
}

.delivery-info, .shipping-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #777;
}

.info-icon {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  object-fit: contain;
}

/* Cart Action */
.cart-action {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Align vertically in the middle */
  justify-content: flex-start;
  margin-top: 10px;
}
 
.cart-action label {
  font-size: 14px;
  margin-right: 10px; /* Add space between the label and input */
  font-weight: 600;
}

.cart-action input {
  width: 70px;
  margin-right: 10px; /* Space between the input and button */
  text-align: center;
  padding: 5px;
}

.form-control{
  margin-right: 30px;
}

.add-to-cart-btn {
  background-color: #b71c1c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 20px;
}

.add-to-cart-btn:hover {
  background-color: #a01717;
}

.add-to-cart-btn:disabled {
  cursor: not-allowed !important;
  opacity: 0.6; /* Make disabled button visually distinct */
  pointer-events: none; /* Prevent interactions */
}

.view-btn{
  margin-top: 10px;
}

/* Loading Spinner Overlay */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-gif {
  width: 180px; /* Adjust the size as needed */
  height: 150px;
}


/* Pagination Controls */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

.pagination-arrow {
  background-color: transparent;
  border: none;
  font-size: 35px;
  font-weight: 800;
  cursor: pointer;
  color: #b03c3c;
  margin: 0 10px 5px 0;
}

.pagination-arrow:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination-page {
  background-color: transparent;
  border: none;
  color: #b03c3c;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  padding: 8px 16px;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.pagination-page:hover {
  background-color: #f2f2f2;
}

.active-page {
  background-color: #b03c3c;
  color: white;
  font-weight: bold;
}

.pagination-ellipsis {
  margin: 0 10px;
  font-size: 18px;
  color: #b03c3c;
}

.back-button {
  font-size: 25px;
  background-color: #f9f9f9;
  padding: 10px;
  border: none;
}

/* Cart message */
.cart-message {
  position: fixed;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
  animation: fadeInOut 1s ease-in-out;
}
 
/* Alert message */
.alert-message {
  position: fixed;
  bottom: 90%;
  left: 30%;
  transform: translateX(-50%);
  background-color: #c44e41;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
  animation: fadeInOut 1s ease-in-out;
}

/* Expanded main-content when sidebar is not collapsed */
.main-content.expanded {
  width: calc(100% - 250px); /* Adjust this based on sidebar width */
  transition: width 0.5s ease;
}

/* Contracted main-content when sidebar is collapsed */
.main-content {
  width: 100%;
  transition: width 0.5s ease;
}

.sidebar {
  width: 250px;
}

.sidebar.collapsed {
  width: 0;
  transition: width 0.5s ease;
  overflow: hidden;
}

.search-forms-container {
  border-radius: 0.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-select {
  margin-top: 0.5rem;
}

/* Container adjustments */
/* .category-search-form-wrapper {
  padding: 1rem;
} */

.category-search-form .form-group {
  display: flex;
  flex-direction: column;
}

.search-button {
  background-color: #b71c1c;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #9a1717;
}

.recently-viewed-wrapper {
  position: relative;
  margin-top: 20px;
  overflow: hidden;
  /* padding: 10px; */
  /* border-radius: 8px; */
}

.recently-viewed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px; */
  /* margin-bottom: 10px; */
}

.recently-viewed-header h3 {
  margin-left: 50px;
  font-size: 24px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #999;
  margin-right: 150px;
}

.close-btn:hover {
  color: #333;
}


